@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #927DFc;
}

.wrapper{ 
    width: 450px;
    background: #fff;
    padding: 30px;
    border-radius: 9px;
}

.wrapper .upload-box{
    height: 225px;
    display:flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #afafaf;
}

.upload-box p {
    font-size: 1.06rem;
    margin-top: 20px;
}

.wrapper .content{
    margin-top: 28px;
}

.content .row{
    display: flex;
    justify-content: space-between;
}

.content .row .column{
    width: calc(100% / 2 - 15px);
}

.row .column label {
    font-size: 1.06rem;
}

.sizes .column input{
    width: 100%;
    height: 49px;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: none;
    padding: 0 15px;
    font-size: 1.06rem;
    margin-top: 7px;
}

.sizes .column input:focus{
    border: 2px solid #927DFc;
    padding: 0 14px;
}

.content .checkboxes{
    margin-top: 20px;
}

.checkboxes .column input{
    width: 17px;
    height: 17px;
    margin-right: 9px;
    accent-color: #927DfC;
}

.content .download-btn{
    width: 100%;
    padding: 15px 0;
    margin: 30px 0 14px;
    border: none;
    outline: none;
    color: #fff;
    background: #927DFc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.06rem;
    text-transform: uppercase;
}